<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Proyecto Mod4</title>
</head>
<body>
<header>
    <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
       <a href="">Lugar para poner barra de búsqueda</a> 
        <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </nav>        
</header>
    <main>

    <h4>Soy un h4</h4>
    
    <h1>Título del Proyecto</h1>
    <h2>Un subtítulo cualquiera</h2>
    <img src="./images/surfBars1.jpeg" alt="Acá debería aparecer una imagen">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora facere at ullam laudantium ipsa maiores sequi aperiam cumque quaerat, eveniet natus soluta? Ipsum consectetur animi laborum voluptatem perferendis reprehenderit dicta?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga tempora nisi deleniti enim voluptatem dolor velit rerum quidem, architecto soluta labore rem neque iste at alias molestiae iusto voluptate quisquam?</p>

    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ol>
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>

    <a href="http://google.com">Ir a Google</a>
</main>

<footer>ACÁ IRÁN LOS CONTENIDOS DEL FOOTER</footer>

</body>
</html>


